a.certificate {
    left: 0 !important;
    position: relative;
    float: right;
    font-size: 1em;
    text-transform: none !important;
}
ul.stepper {
    margin: 1em -1rem !important;
}
.timeline-main .stepper.stepper-vertical.timeline li a {
    padding: 0 24px;
    left: 50%; }
@media (max-width: 450px) {
    .timeline-main .stepper.stepper-vertical.timeline li a {
        left: 6%; } }
@media (min-width: 451px) and (max-width: 1025px) {
    .timeline-main .stepper.stepper-vertical.timeline li a {
        left: 6%; } }
.timeline-main .stepper.stepper-vertical.timeline li a .circle {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    margin-left: -50px;
    background-color: #ccc;
    z-index: 2; }

.timeline-content {
    width: 50% !important;
}
.timeline-main .stepper.stepper-vertical.timeline li .step-content {
    width: 88% !important;
    float: left;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    position: relative; }
@media (max-width: 450px) {
    .timeline-content {
        width: 90% !important;
    }
    .timeline-main .stepper.stepper-vertical.timeline li .step-content {
        width: 90% !important;
        left: 3rem;
        margin-right: 3rem;
        margin-bottom: 2rem;
        float: right; } }
@media (min-width: 451px) and (max-width: 1025px) {
    .timeline-content {
        width: 90% !important;
    }
    .timeline-main .stepper.stepper-vertical.timeline li .step-content {
        width: 90% !important;
        left: 3rem;
        margin-right: 3rem;
        margin-bottom: 2rem;
        float: right; } }
.timeline-main .stepper.stepper-vertical.timeline li .step-content:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border: 15px solid transparent;
    border-right: 0 #e0e0e0;
    border-left-color: #e0e0e0;
    content: " "; }
@media (max-width: 450px) {
    .timeline-main .stepper.stepper-vertical.timeline li .step-content:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto; } }
@media (min-width: 451px) and (max-width: 1025px) {
    .timeline-main .stepper.stepper-vertical.timeline li .step-content:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto; } }
.timeline-main .stepper.stepper-vertical.timeline li .step-content:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border: 14px solid transparent;
    border-right: 0 #fff;
    border-left-color: #fff;
    content: " "; }
@media (max-width: 450px) {
    .timeline-main .stepper.stepper-vertical.timeline li .step-content:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto; } }
@media (min-width: 451px) and (max-width: 1025px) {
    .timeline-main .stepper.stepper-vertical.timeline li .step-content:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto; } }

.timeline-main .stepper.stepper-vertical.timeline li.timeline-inverted {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end; }
.timeline-main .stepper.stepper-vertical.timeline li.timeline-inverted .step-content {
    float: right; }
.timeline-main .stepper.stepper-vertical.timeline li.timeline-inverted .step-content:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto; }
.timeline-main .stepper.stepper-vertical.timeline li.timeline-inverted .step-content:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto; }

.timeline-main .stepper.stepper-vertical.timeline li:not(:last-child):after {
    content: " ";
    position: absolute;
    width: 3px;
    background-color: #e0e0e0;
    left: 50%;
    top: 65px;
    margin-left: -1.5px; }
@media (max-width: 450px) {
    .timeline-main .stepper.stepper-vertical.timeline li:not(:last-child):after {
        left: 6%; } }
@media (min-width: 451px) and (max-width: 1025px) {
    .timeline-main .stepper.stepper-vertical.timeline li:not(:last-child):after {
        left: 6%; } }

@media (max-width: 1025px) {
    .timeline-main .stepper.stepper-vertical.timeline li {
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end; } }

.timeline-main .stepper.stepper-vertical.timeline.colorful-timeline li .step-content:before {
    top: 1.75rem;
    border-left: 15px solid #ffffff;
    border-right: 0 solid #ffffff; }
@media (max-width: 450px) {
    .timeline-main .stepper.stepper-vertical.timeline.colorful-timeline li .step-content:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto; } }
@media (min-width: 451px) and (max-width: 1025px) {
    .timeline-main .stepper.stepper-vertical.timeline.colorful-timeline li .step-content:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto; } }

.timeline-main .stepper.stepper-vertical.timeline.colorful-timeline li .step-content:after {
    top: 1.75rem;
    border-left: 14px solid #ffffff;
    border-right: 0 solid #ffffff; }
@media (max-width: 450px) {
    .timeline-main .stepper.stepper-vertical.timeline.colorful-timeline li .step-content:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto; } }
@media (min-width: 451px) and (max-width: 1025px) {
    .timeline-main .stepper.stepper-vertical.timeline.colorful-timeline li .step-content:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto; } }

.timeline-main .stepper.stepper-vertical.timeline.colorful-timeline li .step-content .timeline-header {
    -webkit-border-top-left-radius: 2px;
    border-top-left-radius: 2px;
    -webkit-border-top-right-radius: 2px;
    border-top-right-radius: 2px; }

.timeline-main .stepper.stepper-vertical.timeline.colorful-timeline li.timeline-inverted .step-content:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px; }

.timeline-main .stepper.stepper-vertical.timeline.colorful-timeline li.timeline-inverted .step-content:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px; }

.timeline-main .stepper.stepper-vertical.timeline.colorful-timeline li:not(:last-child):after {
    background-color: #D32F2F; }

.timeline-main .stepper.stepper-vertical.timeline.timeline-animated .more-padding {
    padding-right: 100px;
    padding-left: 100px; }

.timeline-main .stepper.stepper-vertical.timeline.timeline-animated li {
    -webkit-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out; }

.timeline-main .stepper.stepper-vertical.timeline.timeline-simple li a {
    padding: 0px; }
.timeline-main .stepper.stepper-vertical.timeline.timeline-simple li a .circle {
    width: 23px;
    height: 23px;
    line-height: 23px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    margin-left: -12px;
    background-color: #ccc;
    z-index: 2; }

.timeline-main .stepper.stepper-vertical.timeline.timeline-simple li .step-content {
    width: 45%;
    float: left;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    position: relative; }
@media (max-width: 450px) {
    .timeline-main .stepper.stepper-vertical.timeline.timeline-simple li .step-content {
        width: 80%;
        left: 3rem;
        margin-right: 3rem;
        margin-bottom: 2rem;
        float: right; } }
@media (min-width: 451px) and (max-width: 1025px) {
    .timeline-main .stepper.stepper-vertical.timeline.timeline-simple li .step-content {
        width: 85%;
        left: 3rem;
        margin-right: 3rem;
        margin-bottom: 2rem;
        float: right; } }
.timeline-main .stepper.stepper-vertical.timeline.timeline-simple li .step-content:before {
    position: absolute;
    top: 15px;
    display: inline-block;
    border: 15px solid transparent;
    border-right: 0 #e0e0e0;
    border-left-color: #e0e0e0;
    content: " "; }
@media (max-width: 450px) {
    .timeline-main .stepper.stepper-vertical.timeline.timeline-simple li .step-content:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto; } }
@media (min-width: 451px) and (max-width: 1025px) {
    .timeline-main .stepper.stepper-vertical.timeline.timeline-simple li .step-content:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto; } }
.timeline-main .stepper.stepper-vertical.timeline.timeline-simple li .step-content:after {
    position: absolute;
    top: 15px;
    display: inline-block;
    border: 14px solid transparent;
    border-right: 0 #fff;
    border-left-color: #fff;
    content: " "; }
@media (max-width: 450px) {
    .timeline-main .stepper.stepper-vertical.timeline.timeline-simple li .step-content:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto; } }
@media (min-width: 451px) and (max-width: 1025px) {
    .timeline-main .stepper.stepper-vertical.timeline.timeline-simple li .step-content:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto; } }
.timeline-main .stepper.stepper-vertical.timeline.timeline-simple li .step-content.hoverable {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
.timeline-main .stepper.stepper-vertical.timeline.timeline-simple li .step-content.hoverable:hover {
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.timeline-main .stepper.stepper-vertical.timeline.timeline-simple li:not(:last-child):after {
    width: 2px;
    background-color: #9e9e9e;
    top: 32px;
    height: 100%; }

.timeline-main .stepper.stepper-vertical.timeline.timeline-simple li.timeline-inverted .step-content:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px; }

.timeline-main .stepper.stepper-vertical.timeline.timeline-simple li.timeline-inverted .step-content:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px; }

.timeline-main .stepper.stepper-vertical.timeline.timeline-images li a .circle {
    font-size: 1rem; }

.timeline-main .stepper.stepper-vertical.timeline.timeline-images li:not(:last-child):after {
    background-color: #26c6da; }

@media (max-width: 450px) {
    .timeline-main .stepper.stepper-vertical.timeline.timeline-basic li a, .timeline-main .stepper.stepper-vertical.timeline.colorful-timeline li a, .timeline-main .stepper.stepper-vertical.timeline.timeline-animated li a {
        left: 8%; } }

@media (max-width: 450px) {
    .timeline-main .stepper.stepper-vertical.timeline.timeline-basic li a .circle, .timeline-main .stepper.stepper-vertical.timeline.colorful-timeline li a .circle, .timeline-main .stepper.stepper-vertical.timeline.timeline-animated li a .circle {
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: .9em;
        top: 26px;
        margin-left: -35px; } }

@media (max-width: 450px) {
    .timeline-main .stepper.stepper-vertical.timeline.timeline-basic li:not(:last-child):after, .timeline-main .stepper.stepper-vertical.timeline.colorful-timeline li:not(:last-child):after, .timeline-main .stepper.stepper-vertical.timeline.timeline-animated li:not(:last-child):after {
        left: 9%;
        height: 100%;
        top: 55px; } }

@media (max-width: 450px) {
    .timeline-main .stepper.stepper-vertical.timeline.timeline-simple li a, .timeline-main .stepper.stepper-vertical.timeline.timeline-images li a {
        left: 10%; } }

@media (max-width: 450px) {
    .timeline-main .stepper.stepper-vertical.timeline.timeline-simple li a .circle, .timeline-main .stepper.stepper-vertical.timeline.timeline-images li a .circle {
        top: 18px; } }

@media (max-width: 450px) {
    .timeline-main .stepper.stepper-vertical.timeline.timeline-simple li:not(:last-child):after, .timeline-main .stepper.stepper-vertical.timeline.timeline-images li:not(:last-child):after {
        left: 10%; } }